.btn {
  background: var(--gradient-green);
  color: #fff;
  border: none;
  font-family: "Euclid";
  padding: 17px 5rem;
  border-radius: 6px;
  font-size: 14px;
  letter-spacing: 0.3px;
}

@media screen and (max-width: 600px) {
  .btn {
    padding: 14px 4rem;
    letter-spacing: normal;
  }
}
