.testimonialsContainer {
  padding-top: 3rem;
  padding-bottom: 8.5rem;
}
.ttl {
  text-align: center;
  margin: auto;
  color: var(--text-color-001);
  margin-bottom: 3.5rem;
  font-weight: 800;
  font-family: "Metropolis";
  font-size: 30px;
  position: relative;
  width: fit-content;
}
.zigzag {
  position: absolute;
  top: 34px;
  left: 14.3rem;
  width: 80px;
}
.vidWrap {
  width: 100%;
  height: 430px;
  border-radius: 40px;
  max-width: 970px;
  margin: auto;
}
.vidWrap iframe {
  width: 100%;
  height: 100%;
  border-radius: inherit;
  border: none;
}
@media screen and (max-width: 800px) {
  .zigzag {
    display: none;
  }
  .ttl {
    font-size: 20px;
    margin-bottom: 2.5rem;
  }
  .vidWrap {
    border-radius: 30px;
  }
}

@media screen and (max-width: 600px) {
  .vidWrap {
    height: 300px;
    width: 96%;
  }
  .testimonialsContainer {
    padding-bottom: 4rem;
  }
}
