.testimonialsContainer {
  padding-top: 3rem;
  padding-bottom: 8.5rem;
}
.ttl {
  text-align: center;
  margin: auto;
  color: var(--text-color-001);
  margin-bottom: 3.5rem;
  font-weight: 800;
  font-family: "Metropolis";
  font-size: 30px;
  position: relative;
  width: fit-content;
}
.zigzag {
  position: absolute;
  top: 34px;
  left: 14.3rem;
  width: 80px;
}
.vidWrap {
  width: 100%;
  height: 320px;
  /* border-radius: 40px; */
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  max-width: 970px;
  margin: auto;
}
.vidWrap iframe {
  width: 100%;
  height: 100%;
  border-radius: inherit;
  border: none;
}
.videos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem 1rem;
}
.vidTtl {
  color: #323b4b;
  margin-top: 1.2rem;
  font-weight: 600;
  margin-bottom: 8px;
  font-size: 16px;
}
.vidTxt {
  color: #4e5d78;
  line-height: 1.5;
}
@media screen and (max-width: 800px) {
  .zigzag {
    display: none;
  }
  .ttl {
    font-size: 20px;
    margin-bottom: 2.5rem;
  }
}

@media screen and (max-width: 600px) {
  .vidWrap {
    height: 300px;
    /* width: 96%; */
  }
  .testimonialsContainer {
    padding-bottom: 4rem;
  }
}
