.footerBg {
  background: #1b1f27;
  position: relative;
}
.vec1 {
  position: absolute;
  height: 100%;
  left: 0;
}
.vec2 {
  position: absolute;
  bottom: 0;
  width: 10%;
  min-width: 120px;
  right: 32%;
  max-width: 130px;
}
.vec3 {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 46%;
}
.footerWrap {
  padding-top: 5rem;
  padding-bottom: 1rem;
  color: #fff;
  display: grid;
  grid-template-columns: 3fr 1fr 1.2fr 1.4fr;
  gap: 2.5rem;
  row-gap: 0px;
  letter-spacing: 0.3px;
  font-weight: 300;
}
.logo {
  width: 100px;
  margin-bottom: 1.5rem;
}
.txt1 {
  max-width: 380px;
  line-height: 2.2;
}
.ttl {
  color: #c3ffc2;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 1.3rem;
  margin-top: 1rem;
}
.list {
  list-style: none;
}
.list li {
  margin-bottom: 1.4rem;
}
.list li a {
}
.socials {
  display: flex;
}
.socials a {
  margin-right: 1.5rem;
}
.socials img,
.socials svg {
  width: 22px;
}
.ttl2 {
  color: #c3ffc2;
  margin-bottom: 1rem;
}
.inputWrap {
  display: flex;
  height: 56px;
  max-width: 430px;
}
.inputWrap input {
  background: #32353d;
  border: none;
  height: 100%;
  padding: 0 1rem;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  width: calc(100% - 122px);
  color: #fff;
}
.inputWrap button {
  background: var(--bg-color-004);
  color: #1b1f27;
  border: none;
  height: 100%;
  padding: 0 1.5rem;
  font-weight: 600;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  font-size: 14px;
  white-space: nowrap;
  cursor: pointer;
}
button:disabled {
  cursor: not-allowed;
}
.copyright {
  grid-column-start: 1;
  grid-column-end: 5;
  color: #98a2b3;
  padding-top: 1rem;
  border-top: 1px solid #32353d;
  margin-top: 4rem;
  line-height: 2;
  font-size: 13px;
  position: relative;
}

@media screen and (max-width: 800px) {
  .vec1,
  .vec2,
  .vec3 {
    display: none;
  }
  .footerWrap {
    grid-template-columns: 1fr;
    gap: 1rem;
    padding-top: 3rem;
  }
  .socialsTtl {
    margin-top: 2rem;
  }
  .ttl2 {
    font-weight: 500;
    margin-top: 2rem;
  }
  .copyright {
    grid-column-end: unset;
    margin-top: 1.5rem;
  }
  .copyright p:last-of-type {
    margin-top: 10px;
    line-height: 1.5;
  }
}
