.heroBg {
  position: relative;
}
.heroContainer {
  padding-top: 6rem;
  padding-bottom: 5rem;
}
.textSec {
  width: 60%;
}
.ttl {
  font-size: 4rem;
  color: var(--primary-dark);
  font-weight: 900;
  font-family: "Metropolis";
  margin-bottom: 2rem;
  position: relative;
}
.ttl span {
  position: relative;
}
.zigzag {
  position: absolute;
  width: 95%;
  left: 5%;
  bottom: -1.7rem;
}
.txt {
  color: var(--text-color-002);
  line-height: 2;
  max-width: 550px;
  margin-bottom: 2rem;
}
.btn {
  margin-bottom: 3rem;
}
.img {
  position: absolute;
  top: -1rem;
  right: 0;
  width: 46%;
}
.txt2 {
  color: var(--primary-dark);
  font-weight: 600;
  margin-bottom: 1rem;
}
.txt2::after {
  content: url(../../../assets/vectors/curvedArrow.svg);
  margin-left: 1.2rem;
  width: 90px;
}
.points {
  color: var(--text-color-001);
  line-height: 2.3;
  display: grid;
  grid-template-columns: 1.3fr 1fr;
  padding-left: 1rem;
  column-gap: 2rem;
  font-size: 13px;
  max-width: 500px;
}
@media screen and (min-width: 1440px) {
  .heroContainer {
    position: relative;
  }
}
@media screen and (max-width: 1200px) {
  .zigzag {
    left: 0;
    bottom: -1.4rem;
  }
  .ttl {
    margin-bottom: 3rem;
    font-size: 3.2rem;
  }
  .textSec {
    width: 50%;
  }
}
@media screen and (max-width: 800px) {
  .ttl {
    margin-bottom: 3rem;
    font-size: 3rem;
    max-width: 500px;
  }
  .textSec {
   width: 100%;
  }
  .img {
    width: 100%;
    position: relative;
    top: -10rem;
    right: -1rem;
    max-width: 600px;
    margin-left: auto;
    display: block;
  }
  .textSec2 {
    margin-top: -7rem;
  }
}

@media screen and (max-width: 600px) {
  .ttl {
    font-size: 2.5rem;
    max-width: 300px;
    line-height: 1.3;
  }
  .img {
    top: -6rem;
    width: calc(100vw - 1rem);
    right: 5px;
  }
  .points {
    grid-template-columns: 1fr;
  }
  .txt2 {
    display: flex;
    align-items: baseline;
  }
  .txt2::after {
    content: "";
    background: url(../../../assets/vectors/curvedArrow.svg);
    margin-left: 1rem;
    width: 60px;
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    background-position: bottom
  }
  .textSec2 {
    margin-top: -4rem;
  }
  .heroContainer {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}