.heroBg {
  position: relative;
}
.heroContainer {
  padding-top: 6rem;
  padding-bottom: 8rem;
}
.textSec {
  width: 60%;
}
.ttl {
  font-size: 4rem;
  color: var(--primary-dark);
  font-weight: 900;
  font-family: "Metropolis";
  margin-bottom: 3rem;
  position: relative;
}
.ttl span {
  position: relative;
}
.zigzag {
  position: absolute;
  left: 2rem;
  bottom: -1.5rem;
  width: 200px;
}
.txt {
  color: var(--text-color-002);
  line-height: 2;
  max-width: 550px;
  margin-bottom: 4.5rem;
}
.img {
  position: absolute;
  top: -4rem;
  right: 0;
  width: 46%;
  max-width: 700px;
}
.txt2 {
  font-size: 30px;
  color: var(--text-color-001);
  font-family: "Metropolis";
  font-weight: 800;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}
.txt2 svg {
  margin-left: 1rem;
}
.mobileZigzag {
  display: none;
}
@media screen and (min-width: 1730px) {
  .heroContainer {
    position: relative;
  }
}

@media screen and (max-width: 1200px) {
  .ttl {
    margin-bottom: 2rem;
    font-size: 3.2rem;
    line-height: 1.2;
  }
  .textSec {
    width: 50%;
  }
  .zigzag {
    display: none;
  }
  .mobileZigzag {
    display: block;
    width: 60%;
    bottom: -0.8rem;
  }
  .txt2 {
    font-size: 24px;
  }
}
@media screen and (max-width: 800px) {
  .ttl {
    margin-bottom: 3rem;
    font-size: 3rem;
    max-width: 500px;
  }
  .textSec {
    width: 100%;
  }
  .img {
    width: 100%;
    position: relative;
    margin-left: auto;
    display: block;
    right: -1rem;
    max-width: 650px;
    top: -9rem;
  }
  .textSec2 {
    margin-top: -7rem;
  }
  .txt2 {
    margin-top: -7rem;
    font-size: 20px;
  }
  .heroContainer {
    padding-top: 3rem;
    padding-bottom: 4rem;
  }
}
@media screen and (max-width: 600px) {
  .ttl {
    font-size: 2.5rem;
    max-width: 300px;
    line-height: 1.3;
    margin-bottom: 1.5rem;
  }
  .img {
    top: -6rem;
  }
  .txt2 {
    margin-top: -4rem;
    font-weight: 700;
    font-size: 18px;
  }
  .heroContainer {
    padding-bottom: 2rem;
  }
}
