.navBg * {
  transition: 0.3s;
}
.navBg {
  position: fixed;
  z-index: 1;
  width: 100vw;
  background: var(--bg-color-003);
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.navHeight {
  padding-top: 10px;
  padding-bottom: 10px;
}
.logo {
  margin-left: -1rem;
}
.nav {
  margin-left: 17%;
  font-weight: 400;
}
.navlist {
  list-style: none;
  display: flex;
  color: var(--text-color-003);
}
.navlist li {
  cursor: pointer;
  margin: 0 13px;
  position: relative;
  letter-spacing: 0.1px;
}
.navlist li:hover,
.activeItem {
  color: var(--primary-green);
  font-weight: 500;
}
.activeItem::after {
  content: url(../../../../assets/vectors/shortCurve.svg);
  position: absolute;
  bottom: -1.1rem;
  left: 50%;
  transform: translateX(-50%);
}
.navlist li.activeItem:nth-of-type(3)::after,
.navlist li.activeItem:nth-of-type(4)::after {
  content: url(../../../../assets/vectors/longCurve.svg);
  bottom: -1.4rem;
}
button.navBtn {
  border-radius: 4px;
  padding: 14.5px 1.6rem;
}
.hamburger {
  display: none;
}
@media screen and (max-width: 1000px) {
  .nav {
    margin-left: 0;
  }
  button.navBtn {
    padding: 12px 1.2rem;
    font-size: 13px;
  }
  .logo {
    width: 100px;
  }
  .navlist li {
    margin: 0 10px;
  }
}
@media screen and (max-width: 800px) {
  .hamburger * {
    transition: 0.3s;
  }
  .hamburger {
    display: flex;
    flex-direction: column;
    width: 30px;
    height: 30px;
    padding: 6px 0;
    justify-content: space-between;
    background: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    margin-top: 1rem;
    right: 1rem;
  }
  .hamburger div {
    background: #1b1f27;
    height: 2px;
    width: 100%;
    border-radius: 4px;
  }
  .hamburger div:last-of-type {
    width: 50%;
    margin-left: auto;
  }
  .closeMenuBtn div:first-of-type {
    transform: rotate(45deg) translate(6px, 6px);
  }
  .closeMenuBtn div:nth-of-type(2) {
    transform: rotate(-45deg) translate(6px, -5px);
  }
  .closeMenuBtn div:last-of-type {
    display: none;
  }
  .header {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 4px;
    padding-bottom: 4px;
  }
  .navlist {
    flex-direction: column;
    align-items: flex-start;
  }
  .navlist li {
    margin: 1rem 0;
  }
  .openMenu {
    height: 100vh;
  }
  .nav {
    margin-top: 1rem;
  }
  button.navBtn {
    width: 100%;
    margin-bottom: 2rem;
    margin-top: 4rem;
  }
  .navBg {
    background: var(--bg-color-004);
  }
}
