*,
::before,
::after {
  box-sizing: border-box;
  /* transition: 0.3s; */
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

:root {
  /* Text Colors */
  --text-color-001: #323b4b;
  --text-color-002: #4e5d78;
  --text-color-003: #8a94a6;
  --text-color-004: #b0b7c3;
  --primary-dark: #1b1f27;

  /* Bg Colors */
  --bg-color-001: #c1c7d0;
  --bg-color-002: #f3f3f3;
  --bg-color-003: #fafbfc;
  --bg-color-004: #ffffff;

  /* Accent Colors */
  --primary-green: #03a300;
  --gradient-green: linear-gradient(
    99.84deg,
    #013f00 -25.41%,
    #48d911 64.26%,
    #5aff15 150.58%
  );
}

/* Metropolis */
@font-face {
  font-family: "Metropolis";
  font-weight: 700;
  font-display: swap;
  src: url("assets/fonts/metropolis/Metropolis-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Metropolis";
  font-weight: 800;
  font-display: swap;
  src: url("assets/fonts/metropolis/Metropolis-ExtraBold.ttf")
    format("truetype");
}
@font-face {
  font-family: "Metropolis";
  font-weight: 900;
  font-display: swap;
  src: url("assets/fonts/metropolis/Metropolis-Black.ttf") format("truetype");
}

/* Euclid Circular */
@font-face {
  font-family: "Euclid";
  font-weight: 300;
  font-display: swap;
  src: url("assets/fonts/euclid/Euclid\ Circular\ A\ Light.ttf")
    format("truetype");
}
@font-face {
  font-family: "Euclid";
  font-weight: 400;
  font-display: swap;
  src: url("assets/fonts/euclid/Euclid\ Circular\ A\ Regular.ttf")
    format("truetype");
}
@font-face {
  font-family: "Euclid";
  font-weight: 500;
  font-display: swap;
  src: url("assets/fonts/euclid/Euclid\ Circular\ A\ Medium.ttf")
    format("truetype");
}
@font-face {
  font-family: "Euclid";
  font-weight: 600;
  font-display: swap;
  src: url("assets/fonts/euclid/Euclid\ Circular\ A\ SemiBold.ttf")
    format("truetype");
}
@font-face {
  font-family: "Euclid";
  font-weight: 700;
  font-display: swap;
  src: url("assets/fonts/euclid/Euclid\ Circular\ A\ Bold.ttf")
    format("truetype");
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Euclid", sans-serif;
  font-weight: 400;
  background: var(--bg-color-003);
  font-size: 14px;
}

/* Scrollbar */

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary-green);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--primary-green);
}

/* Page */
.container {
  margin: auto;
  margin: auto;
  max-width: 1260px;
  padding-left: 2rem;
  padding-right: 2rem;
}

@media screen and (max-width: 800px) {
  .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

img,
svg {
  width: auto;
  height: auto;
}

input,
button,
textarea {
  font-family: "Euclid";
  outline: none !important;
}

a {
  text-decoration: none;
  color: inherit;
}
