.productBg {
  position: relative;
}
.productContainer {
  padding-top: 4rem;
  padding-bottom: 9rem;
  display: flex;
  align-items: flex-end;
}
.productContainer::after {
  content: "";
  background: #fff6d6;
  border-radius: 60px 0 0 60px;
  height: 200px;
  width: 52%;
  position: absolute;
  z-index: -1;
  right: 0;
}
.txtSec {
  width: 50%;
}
.ttl {
  color: var(--text-color-001);
  font-size: 30px;
  margin-bottom: 2rem;
  font-family: "Metropolis";
  font-weight: 800;
}
.txt {
  color: var(--text-color-002);
  line-height: 2;
  letter-spacing: 0.2px;
  max-width: 480px;
  margin-bottom: 2rem;
}
.pointList {
  max-width: 450px;
  padding-bottom: 1rem;
}
.point {
  position: relative;
  margin-left: 3rem;
  margin-bottom: 1.5rem;
}
.point::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background-image: url(../../../assets/vectors/tickCircle.svg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: -3rem;
}
.pointTtl {
  color: var(--text-color-001);
  font-weight: 600;
  font-size: 15px;
  letter-spacing: 0.2px;
  margin-bottom: 12px;
}
.pointTxt {
  color: var(--text-color-002);
  line-height: 2;
  position: relative;
  margin-left: 1rem;
}
.pointTxt::before {
  content: ".";
  font-size: 28px;
  line-height: 0;
  position: absolute;
  top: 7px;
  left: -1rem;
}
.imgSec {
  width: 50%;
  max-width: 420px;
}
.img {
  width: 100%;
  margin-bottom: -4px;
}
.reverse {
  flex-direction: row-reverse;
}
.reverse.productContainer::after {
  content: "";
  background: #d7ffd6;
  border-radius: 0 60px 60px 0;
  height: 200px;
  width: 43%;
  left: 0;
  right: unset;
}
.reverse .imgSec {
  margin-right: auto;
  margin-left: unset;
  width: 50%;
  max-width: 480px;
}
.reverse .txtSec {
  width: 50%;
}
.txt2 {
  color: var(--text-color-002);
  margin-bottom: 1.2rem;
  font-weight: 500;
  letter-spacing: 0.3px;
}

@media screen and (max-width: 1000px) {
  .imgSec {
    padding-left: 2rem;
  }
  .reverse .imgSec {
    padding-right: 2rem;
    padding-left: 0;
  }
  .productContainer::after, .reverse.productContainer::after {
    height: 150px;
    width: 49%;
  }
}

@media screen and (max-width: 800px) {
  .productContainer {
    padding-top: 0rem;
    padding-bottom: 6rem;
    flex-wrap: wrap;
  }
  .ttl {
    font-size: 24px;
    margin-bottom: 1.2rem;
  }
  .point {
    margin-left: 2rem;
  }
  .point::before {
    left: -2rem;
  }
  .pointTtl {
    margin-bottom: 4px;
  }
  .txtSec {
    width: 100% !important;
  }
  .imgSec {
    max-width: 300px;
    margin-top: 2rem;
    width: 60%;
  }
  .productContainer::after {
    left: 0;
    right: unset;
    border-radius: 0 60px 60px 0;
    height: 130px;
    width: 80%;
  }
  .reverse.productContainer::after {
    right: 0;
    left: unset;
    border-radius: 60px 0 0 60px;
    height: 130px; 
    width: 80%;
  }
  .reverse .imgSec {
    margin-left: auto;
    margin-right: 0;
    width: 60%;
    margin-top: -1rem;
  }
}

@media screen and (max-width: 600px) {
  .productContainer::after, .reverse.productContainer::after {
    height: 100px;
  }
  .productContainer {
    padding-bottom: 4.5rem;
  }
}