.securityContainer {
  background-color: var(--primary-dark);
  color: #fff;
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: 7%;
  max-width: 1200px;
  margin-top: 6rem;
  margin-bottom: 4rem;
  position: relative;
  background-image: url(../../../assets/vectors/semiCircle.svg),
    url(../../../assets/vectors/purpleStar.svg),
    url(../../../assets/vectors/creamStar.svg),
    url(../../../assets/vectors/greenRing.svg),
    url(../../../assets/vectors/lightGreenRing.svg);
  background-repeat: no-repeat;
  background-position: 98.5% top, 56% 12%, 96.5% 84%, 43% 90%, 50.5% 93%;
  background-size: 220px, 28px, 22px, 12px, 12px;
}
.txtSec {
  max-width: 480px;
}
.ttl {
  color: #c3ffc2;
  font-size: 30px;
  max-width: 300px;
  line-height: 1.15;
  margin-bottom: 1rem;
}
.txt {
  line-height: 2;
  font-weight: 300;
  letter-spacing: 0.2px;
  margin-bottom: 1rem;
}
.btn {
  padding-left: 3rem;
  padding-right: 3rem;
}
.img {
  position: absolute;
  bottom: 0;
  right: 12%;
  width: 40%;
}

@media screen and (max-width: 1000px) {
  .securityContainer {
    margin-top: 0;
  }
  .img {
    width: 34%;
    right: 10%;
  }
}

@media screen and (max-width: 800px) {
  .img {
    display: none;
  }
  .securityContainer {
    padding: 3rem 3rem 4rem;
    text-align: center;
    background-position: 119% -30px, 97% 50%, 3% 64%, 20% 95%, 80% 93%;
    background-size: 160px, 28px, 22px, 12px, 12px;
    margin-bottom: 2rem;
  }
  .txtSec {
    margin: auto;
  }
  .ttl {
    margin-left: auto;
    margin-right: auto;
    font-size: 26px;
    line-height: 1.35;
  }
  .txt {
    font-size: 13px;
    width: 96%;
    margin-left: auto;
    margin-right: auto;
    line-height: 2.3;
  }
  .btn {
    width: 100%;
    max-width: 240px;
    padding: 18px 1rem;
  }
}
